<a href="https://colab.research.google.com/github/TintyPearl/Pearl/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Floats

Any number with a fractional part

This is how we can add floats,by assigning a floating number to a variable then adding them together

In [7]:
a= 69.5
b= 49.6
a+b

119.1

In [ ]:
c=645.978
d=573.999
c+d

1219.9769999999999

We can also subtract floating numbers by assigning a certain variable to a floating number then subtracting

In [ ]:
 e= 37.4
 f=87.9
 e-f

-50.50000000000001

In [ ]:
g= 4444.5555
h=1000.00999
h-g

-3444.5455100000004

We can also multiply floats

In [ ]:
i=4.7
j=5.6
i*j

26.32

In [ ]:
k=2.56
l=6.45
k*l

16.512

This is how we divide floats

In [ ]:
l=7.3
m=5.4
l/m

1.3518518518518516